@import '../libs/normalize-css/normalize.css'
@import '../libs/font-awesome/css/font-awesome.min.css'

@import 'animations'
@import 'vars'

@import 'general'
@import 'volume-input'

.logo
	font-size: 0.667em
	position: absolute
	width: 15.375em
	height: 5em
	top: 2.25em
	left: calc(50% - 7.6875em)
	z-index: 9999
	// opacity: 0.9

	// width = height * 3.075
	img
		max-height: 100%
		max-width: 100%

	.star
		position: absolute
		// transform: scale(1.15)
		max-height: 5.5em
		top: -0.1em
		right: 17.9%
		animation: starRotate 1.8s linear infinite

.score
	position: absolute
	padding: 0.7em
	top: 1.5em
	left: 1.5em
	color: #fff
	background: rgba(0,0,0,.5)
	border-radius: 0.3em

	span
		font-size: 1.2em

		.fa-star-o
			padding-right: 0.3em

.settings-section
	position: absolute
	top: 1.5em
	right: 1.5em
	height: 3.15em
	// width: 3.15em
	padding: 0.1em
	// line-height: 1.8em
	text-shadow: 0 0.2em rgba(0,0,0,.5)
	
	.settings-btn, .volume-input-wr
		background: transparent
		display: inline-block
		margin-left: 1em
		border: none
		border-radius: 50%
		color: #fff
		opacity: 0.8
		// border: 2px solid #fff
		transition: all 0.08s ease-in-out
		&:hover
			color: $yellow
			opacity: 1
			text-shadow: 0 0 0.7em rgba(0,0,0,.5)
			cursor: pointer
		&:active, &:focus
			outline: none
		&:active
			transform: scale(1)
			color: darken($yellow, 20%)

		.fa
			font-size: 2.7em
			
	.volume-btn
		&:hover
			transform: scale(1.15)
		&:active
			transform: scale(1)

	.volume-input-wr
		height: 100%
		display: inline-block
		vertical-align: top
		// transform: rotate(-90deg)
		.volume-input
			padding: 1.2em 0 0
			background-color: transparent
			// line-height: 100%

	.gear-btn		
		&:hover
			transform: scale(1.1) rotate(30deg)
		&:active
			transform: scale(1)

#game
	// width: 100%
	// height: 100%
	background: url('../img/bg-crowd-1.jpg')
	background-size: cover
	background-position: bottom center